.plans {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100vw - 70px); 
  height: auto;
  margin-top: 20px;
}

.plan {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px;
  border-radius: 30px; 
  background-size: cover;
  padding: 20px;
  transition: transform 0.3s ease;
}

.plan:hover {
  transform: translateY(-5px);
  transition: 0.1s;
}

.plan-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.plan-category {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.text {
  position: absolute;
  top: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 0px 0px 10px;
}

.plan-details {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: 0;
}

button {
  height: 40px;
  width: 100px;
  border-radius: 30px; 
  background-color: transparent;
  color: rgb(0, 0, 0); 
  border: 1px solid #214c87;
}

button:hover {
  transition: background-color ease .5s;
  background-color: #6092d9;
}

button:active {
	transform: scale(0.95);
}

.explore{
  box-sizing: border-box;
  position: absolute;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-around;
  top: 350px;
}
