<div class="plans">
    <div *ngFor="let plan of plans" class="plan" 
         [ngStyle]="{ 'background-image': 'url(' + plan.imageUrl + ')' }">
      <h3 class="plan-title">
        {{ plan.planName }}
      </h3>
      <p class="plan-description">
        {{ plan.description }}
      </p>
  
      <div class="text">
        <pre class="plan-details">
          <br>✔    {{ plan.category }} plan<br><br>
        </pre>
      </div>
  
      <button class="explore">View</button>
    </div>
  </div>
  