<div class="plans">
  <div *ngFor="let plan of plans" class="plan" [ngStyle]="{ 'background-image': 'url(' + plan.backgroundImage + ')' }">
    <h3 class="plan-title">{{ plan.planName }}</h3>
    <p class="plan-category">{{ plan.category }}</p>

    <div class="text">
      <pre class="plan-details" *ngFor="let highlight of plan.highlight">
        ✔    {{ highlight }}
      </pre>
    </div>
    <div class="explore">
      <button  (click)="viewScheme(plan._id)">View</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>