<div class="main">
    <div class="header">
        <div class="outer_menu">
            <div class="menu">
                <button (click)="this.router.navigate(['/dashboard/plans'])">Home</button>
                <button>About us</button>
                <button>Contact us</button>
            </div>
            <div style="display: flex;
            align-items: center;
            gap: 10px;">
                <button style="width: 135px;" (click)="agentRegisterDialog()">Become an Agent</button>
                <button *ngIf="!role" (click)="loginAndSignupDialog()">Login</button>
                <button *ngIf="role" style="border: 50%;
                width: 43px;
                height: 43px;
                margin-left: 15px;
                background-size: cover;" [ngStyle]="{'background-image': profilePhotoBuffer && role ? 'url(' + profilePhotoBuffer + ')' : 'url(../../../assets/pngegg.png)'}" [matMenuTriggerFor]="menu"></button>


                <mat-menu #menu="matMenu">
                    <div class="account_menu">
                        <span>{{email}}</span>
                        <img style="padding: 20px;
                        border-radius: 50%;" [src]="profilePhotoBuffer && role ? profilePhotoBuffer : '../../../assets/pngegg.png'" width="100px" height="100px">
                        <span>Hi, {{username}}!</span>
                        <div style="display: flex;
                        gap: 10px;">
                            <button (click)=goToDashboard()>Dashboard</button>
                            <button (click)=logout()>Logout</button>
                        </div>
                    </div>
                  </mat-menu>
            </div>
        </div>
    </div>

    <div class="message">
        <h1 style="color: rgb(0, 0, 0);
        margin: 50px 0px 30px 50px;

        font-size: 70px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;">Empowering you</h1>
        
        <div style="margin-left: 57px;">

            <h2 style="color: rgb(0, 0, 0);
            font-family: Verdana, Geneva, Tahoma, sans-serif">With reliable coverage</h2>

            <p style="color: rgb(0, 0, 0);
            width: 600px;
            margin-top: 50px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">We are committed to providing you with the protection and security you deserve with our comprehensive insurance solutions that are designed to give you peace of mind</p>
        
            <button (click)="explore()">Explore</button>
        </div>
    </div>

    <div class="plans">
        <h1 style="color: rgb(0, 0, 0);
        margin: 10px 0px 10px 27px;
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;">Discover the Perfect Plan for You</h1>
        <app-admin *ngIf="role === 'admin'"></app-admin>
         <router-outlet></router-outlet>
    </div>

</div>