<div class="main">
    <div class="header">
        <div class="outer_menu">
            <div class="menu">
                <button (click)="this.router.navigate(['/dashboard/plans'])">Home</button>
                <button>About us</button>
                <button>Contact us</button>
                <button (click)="goToDashboard()">Dashboard</button>
            </div>
            <div style="display: flex;
            gap: 10px;">
                <button style="width: 135px;" (click)="agentRegisterDialog()">Become an Agent</button>
                <button (click)="loginAndSignupDialog()">Login</button>
            </div>
        </div>
    </div>

    <div class="message">
        <h1 style="color: rgb(0, 0, 0);
        margin: 50px 0px 30px 50px;

        font-size: 70px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;">Empowering you</h1>
        
        <div style="margin-left: 57px;">

            <h2 style="color: rgb(0, 0, 0);
            font-family: Verdana, Geneva, Tahoma, sans-serif">With reliable coverage</h2>

            <p style="color: rgb(0, 0, 0);
            width: 600px;
            margin-top: 50px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">We are committed to providing you with the protection and security you deserve with our comprehensive insurance solutions that are designed to give you peace of mind</p>
        
            <button (click)="explore()">Explore</button>
        </div>
    </div>

    <div class="plans">
        <h1 style="color: rgb(0, 0, 0);
        margin: 10px 0px 10px 27px;
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;">Discover the Perfect Plan for You</h1>
        <app-admin *ngIf="role === 'admin'"></app-admin>
         <router-outlet></router-outlet>
    </div>

</div>