<div class="main">
    <div class="header1">
        <div class="outer_menu">
            <div class="menu">
                <button class="button" (click)="this.router.navigate(['/dashboard/plans'])">Home</button>
                <button class="button" (click)="this.router.navigate(['/about']);">About us</button>
                <button class="button" (click)="this.router.navigate(['/contact']);">Contact us</button>
            </div>
            <div style="display: flex;
            align-items: center;
            gap: 10px;">
                <button class="button" style="width: 135px;" (click)="agentRegisterDialog()">Become an Agent</button>
                <button class="button" *ngIf="!role" (click)="loginAndSignupDialog()">Login</button>
                <button class="button" *ngIf="role" style="border: 50%;
                width: 43px;
                height: 43px;
                margin-left: 15px;
                background-size: cover;" [ngStyle]="{'background-image': profilePhotoBuffer && role ? 'url(' + profilePhotoBuffer + ')' : 'url(../../../assets/pngegg.png)'}" [matMenuTriggerFor]="menu"></button>


                <mat-menu #menu="matMenu">
                    <span style="margin: 0px 16px;">Hi, {{username}}!</span>
                    <div style="margin-top: 10px;">
                        <button class="default-button" mat-menu-item (click)=goToDashboard()>
                            <mat-icon>dashboard</mat-icon>
                            Dashboard</button>
                        <button class="default-button" mat-menu-item (click)=logout()>
                            <mat-icon>logout</mat-icon>
                            Logout</button>
                    </div>
                  </mat-menu>
            </div>
        </div>
    </div>

    <div class="header2">
        <div class="insideHeader2_1">
            <mat-icon (click)="this.router.navigate(['/dashboard/plans'])">home</mat-icon>
            <button class="button" (click)="this.router.navigate(['/about']);">About us</button>
            <button class="button" style="width: 125px;" (click)="agentRegisterDialog()">Become an Agent</button>
        </div>
        
        <div class="insideHeader2_2">
            <mat-icon (click)="this.router.navigate(['/contact'])">contact_support</mat-icon>
            <button class="button" style="width: 50px;" *ngIf="!role" (click)="loginAndSignupDialog()">Login</button>
            <button class="button" *ngIf="role" style="border: 50%;
            width: 43px;
            height: 43px;
            background-size: cover;" [ngStyle]="{'background-image': profilePhotoBuffer && role ? 'url(' + profilePhotoBuffer + ')' : 'url(../../../assets/pngegg.png)'}" [matMenuTriggerFor]="menu"></button>
    
    
            <mat-menu #menu="matMenu">
                <span style="margin: 0px 16px;">Hi, {{username}}!</span>
                <div style="margin-top: 10px;">
                    <button class="default-button" mat-menu-item (click)=goToDashboard()>
                        <mat-icon>dashboard</mat-icon>
                        Dashboard</button>
                    <button class="default-button" mat-menu-item (click)=logout()>
                        <mat-icon>logout</mat-icon>
                        Logout</button>
                </div>
            </mat-menu>
        </div>
        
    </div>

    <div class="message">
        <h1 class="quoteHeading">Empowering you</h1>
        
        <div class="quote">

            <h2 style="color: rgb(0, 0, 0);
            font-family: Verdana, Geneva, Tahoma, sans-serif">With reliable coverage</h2>
            <p class="messageParagraph">We are committed to providing you with the protection and security you deserve with our comprehensive insurance solutions that are designed to give you peace of mind</p>
        
            <button class="button" (click)="explore()">Explore</button>
        </div>
    </div>

    <div class="plans">
        <div class="discover">
            <h1>Discover the Perfect Plan for You</h1>
        </div>
        <div class="plan-cards">
            <router-outlet></router-outlet>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
          <p>&copy; 2025 E-Insurance. All rights reserved.</p>
        </div>
      </footer>

</div>