::ng-deep html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    display: flex;
    justify-content: center;
}

::ng-deep body::-webkit-scrollbar {
    display: none;
  }

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    gap: 10px;

    .header{
        width: calc(100vw - 70px);
        height: 60px;
        border-radius: 30px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        
        .outer_menu{
            width: calc(100% - 40px);
            display: flex;
            justify-content: space-between;

            .menu{
                display: flex;
                gap: 10px;
                width: auto;
            }
        }
    }

    .message{
        width: calc(100vw - 70px);
        height: 400px;
        border-radius: 30px;
        background-color: rgb(255, 255, 255);
        background-image: url(../../../assets/675518266729.png);
        background-size: cover;
    }

    .plans{
        width: calc(100vw - 70px);
        height: 400px;
        border-radius: 30px;
        background-color: rgb(255, 255, 255);
    }
}

button{
    height: 40px;
    width: 100px;
    border-radius: 30px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid #ff9582;

    margin-top: 10px;
}

button:hover{
    transition: background-color ease .5s;
    background-color: #ff9582;
}

button:active{
    border: 3px solid rgb(255, 255, 255);
}