<div class="header">
  <div class="buttons">
      <button mat-button (click)="homeButtonEvent()">Home</button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="collabrator button" matTooltip="Collabrator" class="small-icon-button">
          <mat-icon style="transform: scale(2);" svgIcon="profile-icon"></mat-icon>
      </button>        
  </div>
</div>

<mat-menu #menu="matMenu">
  <div class="account_menu">
      <span>{{email}}</span>
      <img style="padding: 20px;" src="../../../assets/pngegg.png" width="100px" height="100px">
      <span>Hi, {{username}}!</span>
      <button style="background-color: rgb(223, 223, 223); margin: 20px;" mat-raised-button (click)="logout()">Logout</button>
  </div>
</mat-menu>


<div class="customer-dashboard">

  <div>
    <h1>Welcome, {{ username }}!</h1>
  </div>

    <!-- User Menu -->
    <mat-menu #menu="matMenu">
      <div class="account-menu">
        <span>{{ email }}</span>
        <img src="../../../assets/pngegg.png" width="100px" height="100px" style="padding: 20px;" />
        <button mat-raised-button color="warn" style="margin: 20px;" (click)="logout()">Logout</button>
      </div>
    </mat-menu>
  
    <!-- Dashboard Content -->
    <div class="dashboard-content">
      <ng-container [ngSwitch]="activeTab">

        <mat-button-toggle-group
          (change)="setActiveTab($event.value)">
            <mat-button-toggle class="toggle" *ngFor="let tab of tabs" [value]="tab.key" [checked]="tab.key === 'policies'">
              {{ tab.label }}
            </mat-button-toggle>          
        </mat-button-toggle-group>

        <div class="content">
            <!-- Profile Tab -->
          <div *ngSwitchCase="'profile'">
            <router-outlet></router-outlet>
          </div>
    
          <!-- Policies Tab -->
          <div *ngSwitchCase="'policies'">
            <h2>Policy Details</h2>
            <router-outlet></router-outlet>
          </div>
    
          <!-- Reports Tab -->
          <div *ngSwitchCase="'reports'">
            <h2>Reports</h2>
            <p>Reports and analytics will be available soon.</p>
          </div>
    
          <!-- Default Case -->
          <div *ngSwitchDefault>
            <h2>Tab not found</h2>
            <p>Please select a valid tab.</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  