.header{
    width: auto;
    height: 60px;
    background-color: #ecf2ff;
    display: flex;

    .buttons{
        margin: 0 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.customer-dashboard{
    width: calc(100vw - 80px);
    height: auto;
    margin: 40px 40px;
    padding-bottom: 40px;
}

.content{
    margin-top: 30px;
}

.toggle{
    width: 200px;
}

.account_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 260px;
  }

button{
    height: 40px;
    width: 100px;
    border-radius: 30px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid #214c87;
}

button:hover{
    transition: background-color ease .5s;
    background-color: #557fba;
}

button:active{
	transform: scale(0.95);
}

.toggle-group{
    border: 1px solid #214c87;
}

::ng-deep .mat-button-toggle-checked {
    background-color: #ecf2ff !important;
  }
  .default-button{
  display: flex ;
        flex-direction: column;
        border: none;
        justify-content: center;
        align-items: center;
        margin-left: 12px;
  }