<body>
    <div class="scheme-form-container">
        <h2>Create a Scheme</h2>
        <form [formGroup]="schemeForm">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Scheme Name</mat-label>
                    <input matInput formControlName="schemeName">
                    <mat-error *ngIf="SchemeFormControls['schemeName']?.errors?.['required']">Scheme Name is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                    <mat-error *ngIf="SchemeFormControls['description']?.errors?.['required']">Description is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Eligibility Criteria</mat-label>
                    <input matInput formControlName="eligibilityCriteria">
                    <mat-error *ngIf="SchemeFormControls['eligibilityCriteria']?.errors?.['required']">Eligibility Criteria is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Premium</mat-label>
                    <input matInput formControlName="premium">
                    <mat-error *ngIf="SchemeFormControls['premium']?.errors?.['required']">Premium is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Maturity period</mat-label>
                    <input matInput formControlName="maturityPeriod">
                    <mat-error *ngIf="SchemeFormControls['maturityPeriod']?.errors?.['required']">Maturity Period is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Coverage</mat-label>
                    <input matInput formControlName="coverage">
                    <mat-error *ngIf="SchemeFormControls['coverage']?.errors?.['required']">Coverage is required</mat-error>
                </mat-form-field>
            </div>
            <br>
            <button mat-raised-button color="primary">Create Scheme</button>
        </form>
    </div>    
</body>