
<div class="container">
  <div style="display: flex;
  justify-content: flex-end;
  width: 100%;">
    <div  class="scheme-header">
      <div class="navigation-item">
        <a routerLink="/dashboard/plans" class="navigation-link">Plan</a> / 
        <span>{{ planDetails.planName }}</span> / 
        <a (click)="handleSchemeClick()" class="navigation-link">Scheme</a> 
      </div>
     <span class="search-filter"> <input type="text"[(ngModel)]="searchQuery"(input)="onSearchChange()"(blur)="onSearchBlur()"placeholder="Search for schemes..."class="search-bar"/>
      <mat-icon [matMenuTriggerFor]="filterMenu" class="filter-icon">filter_list</mat-icon>
      <mat-menu #filterMenu="matMenu">
      <button class="filter-button" (click)="filter('asc')">Low-High</button>
      <button class="filter-button" (click)="filter('desc')">High-Low</button>
      </mat-menu></span>
    </div>
  </div>

  <div *ngIf="isLoading" class="spinner-container">
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <!-- Scheme list -->
  <div 
    class="scheme" 
    *ngFor="let scheme of schemes">
    <div style="display: flex; align-items: center; justify-content: space-between;" (click)="extendToggle(scheme._id)">
      <div>
        <h1>{{ scheme.schemeName }}</h1>
        <p class="description">{{ scheme.description }}</p>
      </div>

      <div style="padding: 0 10px 0 30px;">
        <mat-icon 
          style="transform: scale(2); transition: transform 0.5s ease;" 
          svgIcon="dropdown-icon"
          [ngStyle]="{ 'transform': extendedCard === scheme._id ? 'rotate(180deg)' : 'rotate(0deg)' }">
        </mat-icon>
      </div>
    </div>

    <div 
      class="details"
      [ngStyle]="{ 
        'height': extendedCard === scheme._id ? height : '0', 
        'margin-top': extendedCard === scheme._id ? '10px' : '0' 
      }">
      <p>Eligibility Criteria: {{ scheme.eligibilityCriteria }}</p>
      <p>Premium: ₹{{ scheme.premium }}</p>
      <p>Maturity Period: {{ scheme.maturityPeriod }} months</p>
      <p>Coverage: ₹{{ scheme.coverage }}</p>
      <div style="width: calc(100% - 20px);
      justify-content: center;" 
      [ngStyle]="{display: policyApplication ? 'none': 'flex'}">
        <button (click)="buyScheme(scheme); $event.stopPropagation();">Buy now</button>
      </div>
      <div [ngStyle]="{display: policyApplication ? 'block': 'none'}">
        <app-policy (policyApplication)="applicationToggle($event)" [data]="{planId: this.planId, schemeDetails: this.selectedScheme, planDetails: this.planDetails}"></app-policy>
      </div>
    </div>
  </div>
</div>
