<!-- Scheme Card List -->
<div *ngFor="let scheme of schemes" class="scheme-card">
  <div class="scheme-details">
    <h2>{{ scheme.schemeName }}</h2>
    <p>{{ scheme.description }}</p>
    <p>Eligibility Criteria: {{ scheme.eligibilityCriteria }}</p>
    <p>Premium: ₹{{ scheme.premium }}</p>
    <p>Maturity Period: {{ scheme.maturityPeriod }} months</p>
    <p>Coverage: ₹{{ scheme.coverage }}</p>
    <button class="view-details" (click)="openDetailOverlay(scheme)">
      View Details
    </button>
  </div>
  <div class="scheme-background" [style.backgroundImage]="'url(' + getPlanImage() + ')'"></div>
</div>

<div class="unique-overlay" *ngIf="isOverlayVisible">
  <div class="overlay-content">
    <div class="overlay-image">
      <img [src]="getPlanImage()" alt="Plan Image" />
    </div>
    <div class="overlay-details">
      <h2>{{ selectedScheme.schemeName }}</h2>
      <p>{{ selectedScheme.description }}</p>
      <p>Eligibility Criteria: {{ selectedScheme.eligibilityCriteria }}</p>
      <p>Premium: ₹{{ selectedScheme.premium }}</p>
      <p>Maturity Period: {{ selectedScheme.maturityPeriod }} months</p>
      <p>Coverage: ₹{{ selectedScheme.coverage }}</p>
      <div class="button-container">
        <button (click)="navigateToPolicy(selectedScheme._id)" class="buy-btn">Buy</button>
        <button class="close-btn" (click)="closeOverlay()">Cancel</button>
      </div>
    </div>
  </div>
</div>
