.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 30px;
}

.scheme {
  background-color: #f8faff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  word-wrap: break-word;
  border: 0.5px solid #d4d6d3;
  height: auto;
}

.details {
  overflow: hidden;
  transition: height .2s ease, margin-top .2s ease;
  height: 0; /* Initial hidden state */
}

h1 {
  color: #214c87;
}

p {
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

button{
  height: 40px;
  width: 100px;
  border-radius: 30px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 1px solid #214c87;

  margin-top: 10px;
}

button:hover{
  transition: background-color ease .5s;
  background-color: #557fba;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.search-bar {
  width: 100%;
  max-width: 500px; /* Optional: set a max width */
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #214c87;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.search-bar:focus {
  border-color: #557fba;
  box-shadow: 0 0 10px rgba(85, 127, 186, 0.5);
}

.search-bar::placeholder {
  color: #b0b0b0;
  font-style: italic;
}

