.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 30px;
}

.scheme {
  background-color: #f8faff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  word-wrap: break-word;
  border: 0.5px solid #d4d6d3;
  height: auto;
  transition: all 0.3s ease;
}

.details {
  overflow: hidden;
  transition: height 0.2s ease, margin-top 0.2s ease;
  height: 0; /* Initial hidden state */
}

h1 {
  color: #214c87;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 10px;
}

button {
  height: 40px;
  width: 100px;
  border-radius: 30px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 1px solid #214c87;
  margin-top: 10px;
}

button:hover {
  transition: background-color ease 0.5s;
  background-color: #557fba;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.search-bar {
  width: 100%;
  max-width: 300px;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #214c87;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar:focus {
  border-color: #557fba;
  box-shadow: 0 0 10px rgba(85, 127, 186, 0.5);
}

.search-bar::placeholder {
  color: #b0b0b0;
  font-style: italic;
}

.scheme-header {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  width: 100%;
}

.filter-icon {
  cursor: pointer;
  font-size: 24px;
  color: #555;
  padding: 10px;
}

::ng-deep .mat-mdc-menu-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 3px;
}

.filter-button {
  border: none;
  font-size: 16px;
  margin-left: 5px;
}

.filter-button:hover {
  background-color: #ccc;
  border-radius: 2px;
}

/* Navigation styles */
.navigation-item {
  display: flex;
  align-items: center;
}

.navigation-link {
  color: #214c87;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation-link:hover {
  text-decoration: underline;
}

.navigation-item p{
  color: #214c87;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

/* Adjustments for smaller screens */
// @media (max-width: 768px) {
//   .scheme-header {
//     flex-direction: column;
//     align-items: flex-start;
//   }

//   .search-bar {
//     width: 100%;
//   }
// }

.search-filter{
  display: flex;
  align-items: center;
}

pre{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #214c87;
  font-size: 1.5rem;
}

@media (max-width: 500px){

  .dropdown {
    padding: 0px 0px 0px 20px;
  }

  .scheme {
    background-color: #f8faff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    word-wrap: break-word;
    border: 0.5px solid #d4d6d3;
    height: auto;
    transition: all 0.3s ease;
  }

  .container {
    margin: 10px 30px;
  }

  .scheme-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }

  .navigation-link {
    font-size: 1rem;
  }
  
  .navigation-item p{
    font-size: 1rem;
  }

}