body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212; 
    color: white; 

    .dark-theme .add-plan-box{
        background-color: #1e1e1e;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);

        span {
            font-size: 24px;
        }

        &:hover {
            background-color: #292929;
            transition: background-color 0.3s ease;
            cursor: pointer;
        }
    }
  }
  

  


