/* Global Styles */

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(223, 223, 223);
    color: #333;
}
.policy{
    margin-bottom: 50px;
}
/* Policy Container */
.policy-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    flex-direction: column;
}

/* Policy Card */
.policy-card {
    width: calc(100% - 55px);
    margin: 30px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 25px;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.policy-card-header {
    display: flex;
    margin-bottom: 12px;
}

.policy-card-header .title {
    width: 100%;
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
}

.policy-card-header h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #333;
}

.policy-card-header .status {
    width: auto;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    background-color: #8fa3b7;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
}

.policy-card-details {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
    background-color: #e1e6ec;
    padding: 15px;
    border-radius: 10px;
}

.policy-card-details .detail-card {
    background-color: #f4f7fa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.policy-card-details .detail-card h3 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.policy-card-details .detail-card p {
    font-size: 13px;
    color: #777;
    margin-top: 6px;
}

.policy-card-duration,
.policy-card-benefits,
.policy-card-eligibility,
.policy-card-premium {
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 10px;
}

.policy-card-duration {
    background-color: #cde1f3;
    text-align: center;
}

.policy-card-benefits {
    background-color: #f0f7e1;
}

.policy-card-eligibility {
    background-color: #f9e1c1;
}

.policy-card-premium {
    background-color: #e2f5fb;
}

.policy-card-duration h3,
.policy-card-benefits h3,
.policy-card-eligibility h3,
.policy-card-premium h3 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 12px;
}

.policy-card-premium p,
.policy-card-benefits ul li,
.policy-card-eligibility p {
    font-size: 14px;
    color: #555;
}

.policy-card-benefits ul {
    list-style-type: disc;
    padding-left: 22px;
}

.policy-card-eligibility p,
.policy-card-premium p {
    font-size: 13px;
    color: #555;
}

@media (max-width: 768px) {
    .policy-card {
        width: 95%;
        padding: 18px;
    }

    .policy-card-details {
        grid-template-columns: 1fr 1fr;
    }

    .policy-card-premium {
        margin-bottom: 12px;
    }
}

/* Pay Button */
.pay-button {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 20%; 
    margin: 20px auto; 
    padding: 10px 0;
    border-radius: 12px;
    background-color: #99badb;
}

.pay-button:hover {
    background-color: rgb(81, 92, 101);
}

.pay-button button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    border: 1px solid #aaa;
}

.pay-button button:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 325px;
    height: 130px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.no-policies {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    text-align: center;
    font-size: 20px;
    color: #888;
}

/* Underline Animation */
@keyframes slide-in {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.overlay-button{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 10%;
    background-color: #007bff;
    color: white;
}
.overlay-buttons{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 10%;
    background-color: #dc3545;
    color: white;

}
.popup-button{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.backButton{
    display: flex;
    justify-content: center;
   
}
.back-button{
    padding: 10px;
    border-radius: 14px;
    background-color: #c3def6;
}