<div class="navbar">
    <mat-button-toggle-group
    name="policyStatus"
    aria-label="Policy Status"
    class="tabs">
      <mat-button-toggle
        *ngFor="let tab of tabs"
        [value]="tab.key"
        [checked]="activeTab === tab.key"
        (change)="setActiveTab(tab.key)"
        class="toggle">
        {{ tab.label }}
      </mat-button-toggle>
    </mat-button-toggle-group>
</div>
<div *ngIf="isLoading" class="no-policies">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading && filteredPolicies.length === 0" class="no-policies">
  <p>No Policies are found.</p>
</div>


  
  <div class="policy-container">
    <div *ngFor="let policy of filteredPolicies" class="policy-card">
      <!-- Header Section -->
      <div class="policy-card-header">
        <div class="title">
          <h2>{{ policy.policyName }}</h2>
          <p class="status">Status: {{ policy.status }}</p>
        </div>
      </div>

  
      <!-- Details Section -->
      <div class="policy-card-details">
        <div class="detail-card">
          <h3>Coverage</h3>
          <p>{{ policy.coverage | currency:'INR' }}</p>
        </div>
        <div class="detail-card">
          <h3>Duration</h3>
          <p>{{ policy.duration }} Months</p>
        </div>
        <div class="detail-card">
          <h3>Premium</h3>
          <p>{{ policy.premiumAmount | currency:'INR' }}</p>
        </div>
        <div class="detail-card">
          <h3>Premium Paid</h3>
          <p>{{ policy.premiumPaid }}</p>
        </div>
        <div class="detail-card">
          <h3>Pending Premium</h3>
          <p>{{ policy.pendingPremium }}</p>
        </div>
      </div>
  
      <!-- Benefits Section -->
      <div class="policy-card-benefits">
        <h3>Benefits</h3>
        <p>{{ policy.description }}</p>
      </div>
  
      <div *ngIf="isPremiumDue(policy.createdAt, policy.lastPaymentDate) && policy.status==='Active'" class="pay-button">
        <button (click)="showOverlay(policy)">Pay Premium</button>
      </div>
    </div>
  </div>
  
  <!-- Pay Premium Overlay -->
  <div *ngIf="isOverlayVisible" class="overlay">
    <div class="overlay-content">
      <h2>Pay Premium</h2>
      <div>
        <h3>Policy Name: {{ selectedPolicy?.policyName }}</h3>
        <p>Premium Amount: {{ selectedPolicy?.premiumAmount | currency }}</p>
      </div>
      <div class="overlay-actions">
        <button (click)="closeOverlay()">Close</button>
        <button (click)="payPremium(selectedPolicy)">Pay Now</button>
      </div>
    </div>
  </div>  