body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    padding: 40px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: rgba(33, 32, 32, 0.811);
    text-align: center;
    margin: 0 0 30px;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.links a {
    color: #1a73e8;
}

.login-button {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

form {
    display: flex;
    flex-direction: column;
}
