<body>
   <div class="login">
    <div class="login-container">
      <h1>Admin & Employee Login</h1>
      <form [formGroup]="loginForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Role</mat-label>
          <mat-select formControlName="signin_role">
            <mat-option value="Admin">Admin</mat-option>
            <mat-option value="Employee">Employee</mat-option>
          </mat-select>
          <mat-error *ngIf="loginFormControls['signin_role']['errors']?.['required']">
            Role is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email or Phone</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="loginFormControls['email']['errors']?.['required']">
            This field is required
          </mat-error>
          <mat-error *ngIf="loginFormControls['email']['errors']?.['email']">
            Invalid email format
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="loginFormControls['password']['errors']?.['required']">
            Password is required
          </mat-error>
          <mat-error *ngIf="loginFormControls['password']['errors']?.['minlength']">
            Password must be at least 6 characters
          </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" class="login-button" (click)="handleLogin()">
          LOGIN
        </button>
      </form>
    </div>
    </div>
  </body>
  