<body>
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="#" class="signup-form" [formGroup]="signupForm">
        <h1>Create Customer Account</h1>
        <div>
          <div class="horizontal">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Name</mat-label>
              <input matInput formControlName="username">
              <mat-error *ngIf="signupFormControls['username'].hasError('required')">
                This field is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
              <mat-error *ngIf="signupFormControls['email'].hasError('required')">
                This field is required
              </mat-error>
              <mat-error *ngIf="signupFormControls['email'].hasError('email')">
                Invalid email format
              </mat-error>
            </mat-form-field>
          </div>
          <div class="horizontal">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Phone No.</mat-label>
              <input matInput formControlName="phno">
              <mat-error *ngIf="signupFormControls['phno'].hasError('required')">
                This field is required
              </mat-error>
              <mat-error *ngIf="signupFormControls['phno'].hasError('pattern')">
                Invalid phone number format
              </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="role === 'Customer'" appearance="outline" style="width: 100%;">
              <mat-label>Age</mat-label>
              <input matInput formControlName="age">
              <mat-error *ngIf="signupFormControls['age'].hasError('required')">
                This field is required
              </mat-error>
              <mat-error *ngIf="signupFormControls['age'].hasError('pattern')">
                Invalid age format
              </mat-error>
            </mat-form-field>
          </div>
          <div class="horizontal">
            <mat-form-field *ngIf="role === 'Customer'" appearance="outline" style="width: 100%;">
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender">
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
                <mat-option value="Other">Other</mat-option>
              </mat-select>
              <mat-error *ngIf="signupFormControls['gender'].hasError('required')">
                This field is required
              </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Region</mat-label>
              <mat-select formControlName="region">
                <mat-option *ngFor="let region of filteredRegions" [value]="region">{{ region }}</mat-option>
              </mat-select>
              <mat-error *ngIf="signupFormControls['region'].hasError('required')">
                This field is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="horizontal" *ngIf="role === 'Customer'">
            <span>Upload Your Image</span>
            <input type="file" style="margin: 0 0 12.4px 30px;" (change)="onFileChange($event)">
          </div>
          <div class="horizontal" style="margin-top: 20px;">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password">
              <mat-error *ngIf="signupFormControls['password'].hasError('required')">
                This field is required
              </mat-error>
              <mat-error *ngIf="signupFormControls['password'].hasError('pattern')"></mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input type="password" matInput formControlName="confirm">
              <mat-error *ngIf="signupFormControls['confirm'].hasError('required')">
                This field is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <button type="submit" (click)="handleRegistration()">
          Sign Up
        </button>
      </form>
    </div>    
        <div class="form-container sign-in-container">
          <form action="#" class="signin-form" [formGroup]="signinForm">
            <h1>Sign in</h1>
            <mat-form-field appearance="outline" style="width: 90%;">
              <mat-label>Role</mat-label>
              <mat-select formControlName="signin_role">
                <mat-option value="Customer">Customer</mat-option>
                <mat-option value="Agent">Agent</mat-option>
              </mat-select>
              <mat-error *ngIf="signinFormControls['signin_role']['errors']?.['required']">This field is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 90%;">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="signinFormControls['email']['errors']?.['required']">This field is required</mat-error>
                <mat-error *ngIf="signinFormControls['email']['errors']?.['email']">Invalid email format</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 90%;">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error *ngIf="signinFormControls['password']['errors']?.['required']">This field is required</mat-error>
            </mat-form-field>
            <span>{{loginErrorMessage}}</span>
            <a href="#">Forgot your password?</a>
            <button type="submit" (click)="handleSignin()">Sign In</button>
          </form>
        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h1>Welcome Back!</h1>
              <p>To keep connected with us please login with your personal info</p>
              <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
              <h1>Hello, Friend!</h1>
              <p>Enter your personal details and start journey with us</p>
              <button class="ghost" id="signUp">Sign Up</button>
            </div>
          </div>
        </div>
      </div>  
</body>