<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
          <form action="#" class="signup-form" [formGroup]="signupForm">
            <h1>Create Account</h1>
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Role</mat-label>
                <mat-select formControlName="signup_role" [(ngModel)]="role" (selectionChange)="onRoleChange($event.value)">
                  <mat-option value="Customer">Customer</mat-option>
                  <mat-option value="Agent">Agent</mat-option>
                  <mat-option value="Employee">Employee</mat-option>
                  <mat-option value="Admin">Admin</mat-option>
                </mat-select>
                <mat-error *ngIf="signupFormControls['signup_role']['errors']?.['required']">This field is required</mat-error>
              </mat-form-field>
            <div>
              <div class="horizontal">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="username">
                    <mat-error *ngIf="signupFormControls['name']['errors']?.['required']">This field is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="signupFormControls['email']['errors']?.['required']">This field is required</mat-error>
                    <mat-error *ngIf="signupFormControls['email']['errors']?.['email']">Invalid email format</mat-error>
                </mat-form-field>
              </div>
              <mat-form-field appearance="outline" style="width: 100%;" *ngIf="role !== 'Customer'; else agentPhone">
                <mat-label>Phone No.</mat-label>
                <input matInput formControlName="phno">
                <mat-error *ngIf="signupFormControls['phone']['errors']?.['required']">This field is required</mat-error>
                <mat-error *ngIf="signupFormControls['phone']['errors']?.['pattern']">Invalid phone number format</mat-error>
              </mat-form-field>
              <ng-template #agentPhone>
                <div style="display: flex;
                gap: 5px;">
                <mat-form-field appearance="outline">
                  <mat-label>Phone No.</mat-label>
                  <input matInput formControlName="phno">
                  <mat-error *ngIf="signupFormControls['phone']['errors']?.['required']">This field is required</mat-error>
                  <mat-error *ngIf="signupFormControls['phone']['errors']?.['pattern']">Invalid phone number format</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="role === 'Customer'">
                  <mat-label>Age</mat-label>
                  <input matInput formControlName="age">
                  <mat-error *ngIf="signupFormControls['age']['errors']?.['required']">This field is required</mat-error>
                  <mat-error *ngIf="signupFormControls['age']['errors']?.['pattern']">Invalid age format</mat-error>
                </mat-form-field>
              </div>
              </ng-template>
              <div>
                <mat-form-field appearance="outline" style="width: 100%;" *ngIf="role === 'Customer' || role === 'Agent'">
                  <mat-label>Region</mat-label>
                  <input matInput formControlName="region">
                  <mat-error *ngIf="signupFormControls['region']['errors']?.['required']">This field is required</mat-error>
                </mat-form-field>
                <div class="horizontal" *ngIf="role === 'Customer'">
                  <span>Upload your image</span>
                  <input type="file" style="margin: 0 0 22.4px 30px;" formControlName="image">
                </div>
              </div>
              <div class="horizontal">
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="password">
                  <mat-error *ngIf="signupFormControls['password']['errors']?.['required']">This field is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Confirm password</mat-label>
                  <input matInput formControlName="confirm">
                  <mat-error *ngIf="signupFormControls['confirm']['errors']?.['required']">This field is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <button type="submit" (click)="handleRegistration()">Sign Up</button>
          </form>
        </div>
        <div class="form-container sign-in-container">
          <form action="#" class="signin-form" [formGroup]="signinForm">
            <h1>Sign in</h1>
            <mat-form-field appearance="outline" style="width: 90%;">
              <mat-label>Role</mat-label>
              <mat-select formControlName="signin_role">
                <mat-option value="Customer">Customer</mat-option>
                <mat-option value="Agent">Agent</mat-option>
                <mat-option value="Employee">Employee</mat-option>
                <mat-option value="Admin">Admin</mat-option>
              </mat-select>
              <mat-error *ngIf="signinFormControls['signin_role']['errors']?.['required']">This field is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 90%;">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="signinFormControls['email']['errors']?.['required']">This field is required</mat-error>
                <mat-error *ngIf="signinFormControls['email']['errors']?.['email']">Invalid email format</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 90%;">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password">
                <mat-error *ngIf="signinFormControls['password']['errors']?.['required']">This field is required</mat-error>
            </mat-form-field>
            <a href="#">Forgot your password?</a>
            <button type="submit" (click)="handleSignin()">Sign In</button>
          </form>
        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h1>Welcome Back!</h1>
              <p>To keep connected with us please login with your personal info</p>
              <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
              <h1>Hello, Friend!</h1>
              <p>Enter your personal details and start journey with us</p>
              <button class="ghost" id="signUp">Sign Up</button>
            </div>
          </div>
        </div>
      </div>  
</body>