.policy {
    width: 100%;
    margin: 30px 30px 0 30px;
    border: 1px solid #b6b6b6;
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 30px;
}

.agent {
    padding-bottom: 30px;
}