<div *ngIf="policies.length !== 0; else noPolicy" class="agent">
    <div *ngFor="let policy of policies" style="display: flex;
    justify-content: space-between;
    align-items: center;">
        <div class="policy">
            <p>Policy name: {{policy.policyName}}</p>
            <p>Description: {{policy.description}}</p>
            <p>Premium amount: {{policy.premiumAmount}}</p>
            <p>Policy duration: {{policy.duration}}</p>
            <p>Policy coverage: {{policy.coverage}}</p>
            <p>Premium paid: {{policy.premiumPaid}}</p>
            <p>Policy start date: {{policy.policyStartDate}}</p>
            <p>Policy status: {{policy.status}}</p>
            <p>Pending Premium: {{policy.pendingPremium}}</p>
        </div>
    </div>
</div>

<ng-template #noPolicy>
    <h1>No policy found</h1>
</ng-template>